﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - mcqMaster</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("mcqMaster", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Public Questions", "Index", "Question")</li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated) {
                        <li>@Html.ActionLink("My Questions", "MyQuestions", "Question")</li>
                    }
                    <li>@Html.ActionLink("Public Tests", "Index", "Test")</li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated) {
                        <li>@Html.ActionLink("My Tests", "MyTests", "Test")</li>
                    }
                    @if(HttpContext.Current.User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("Admin", "UserIndex", "Account")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderSection("featured", required: false)
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maurice de Vries</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
