﻿@model mcqMaster.ViewModels.SortButton
@{
    bool isSortedByThisColumn;
    if (Model.IsDefault)
    {
        isSortedByThisColumn = ViewBag.SortBy == null;
    }
    else
    {
        isSortedByThisColumn = ViewBag.SortBy != null && ViewBag.SortBy.Equals(Model.SortBy);
    }

    if (isSortedByThisColumn)
    {
        if (ViewBag.SortMode != null &&
            ViewBag.SortMode.Equals("desc"))
        {
            <a class="btn btn-xs btn-default" href="@Url.Action(Model.Action, Model.Controller, new { @sortBy = Model.SortBy, @searchTerm = ViewBag.SearchTerm, @page = ViewBag.Page, @mode = ViewBag.SelectedMode })">
                @if (Model.IsAlphabetic)
                {
                    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                }
            </a>
        }
        else
        {
            <a class="btn btn-xs btn-default" href="@Url.Action(Model.Action, Model.Controller, new { @sortBy = Model.SortBy, @sortMode = "desc", @searchTerm = ViewBag.SearchTerm, @page = ViewBag.Page, @mode = ViewBag.SelectedMode })">
                @if (Model.IsAlphabetic)
                {
                    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-sort-by-attributes"></span>
                }
            </a>
        }
    }
    else
    {
        if (Model.IsDefaultDescending)
        {
            <a class="btn btn-xs btn-default" href="@Url.Action(Model.Action, Model.Controller, new { @sortBy = Model.SortBy, @sortMode = "desc", @searchTerm = ViewBag.SearchTerm, @page = ViewBag.Page, @mode = ViewBag.SelectedMode })">
                <span class="glyphicon glyphicon-sort"></span>
            </a>
        }
        else
        {
            <a class="btn btn-xs btn-default" href="@Url.Action(Model.Action, Model.Controller, new { @sortBy = Model.SortBy, @searchTerm = ViewBag.SearchTerm, @page = ViewBag.Page, @mode = ViewBag.SelectedMode })">
                <span class="glyphicon glyphicon-sort"></span>
            </a>
        }
    }
}
