﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Bootstrap Nav collapse breakpoint override*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom Styles */
th, td {
    word-break: break-word;
}

.panel {
    word-break: break-word;
}

.mcq-remove-margin {
    margin: 0;
}

.mcq-remove-margin-top {
    margin-top: 0;
}

.mcq-remove-padding {
    padding: 0;
}

.mcq-image-size {
    max-width: 100%;
    max-height: 50em;
}

.mcq-mb-2 {
    margin-bottom: 0.5em;
}

.mcq-my-2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mcq-mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.mcq-font-bold {
    font-weight: bold;
}

.mcq-vertical-align {
    display: flex;
    align-items: center;
}

#RememberMe {
    margin-left: 0;
}