﻿@model mcqMaster.ViewModels.TestDetailsViewModel
@using PagedList.Mvc;
@using mcqMaster.ViewModels;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Test Details";
}

<h2>@Html.DisplayFor(model => model.Test.TestName)</h2>


<div class="panel panel-default form-horizontal">
    <div class="panel-heading">
        <h3 class="h4">Test Details</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-xs-2">
                <strong>@Html.DisplayNameFor(model => model.Test.TestName)</strong>
            </div>
            <div class="col-xs-10 col-md-6">
                @Html.DisplayFor(model => model.Test.TestName)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <strong>Creator</strong>
            </div>
            <div class="col-xs-10 col-md-6">
                @Html.DisplayFor(model => model.Test.AspNetUser.UserName)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <strong>@Html.DisplayNameFor(model => model.Test.PresentAll)</strong>
            </div>
            <div class="col-xs-10 col-md-6">
                @Html.DisplayFor(model => model.Test.PresentAll)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <strong>@Html.DisplayNameFor(model => model.Test.IsPublic)</strong>
            </div>
            <div class="col-xs-10 col-md-6">
                @Html.DisplayFor(model => model.Test.IsPublic)
            </div>
        </div>

        <div class="mcq-my-2">
            @Html.ActionLink("Take Test", "TakeTest", new { id = Model.Test.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Statistics", "Statistics", new { id = Model.Test.Id }, new { @class = "btn btn-default" })
        </div>

        <hr />
        <h4>Questions</h4>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="searchTerm" class="form-control col-xs-12" placeholder="Search for...">
                        @if (ViewBag.SortBy != null)
                    {
                        <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                }
                        @if (ViewBag.SortMode != null)
                    {
                        <input type="hidden" name="sortMode" value="@ViewBag.SortMode" />
                }
                        <input type="hidden" name="page" value="1" />
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit" value="Search" />
                        </span>
                    </div>
                </form>
            </div>
            <div class="text-center col-xs-12 col-md-6">
                @Html.PagedListPager(Model.Questions, page => Url.Action("Details", new { page, sortBy = ViewBag.SortBy, sortMode = ViewBag.SortMode, searchTerm = ViewBag.SearchTerm }))
            </div>
        </div>

        <table class="table">
            <colgroup>
                <col />
                <col />
                <col width="12%" />
                <col width="33%" />
                <col />
                <col />
                <col />
            </colgroup>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Id)
                    @Html.Partial("SortButton", new SortButton { IsDefault = true, Action = "Details", Controller = "Test" })
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Subject)
                    @Html.Partial("SortButton", new SortButton { SortBy = "subject", IsAlphabetic = true, Action = "Details", Controller = "Test" })
                </th>
                <th scope="col">
                    Creator
                    @Html.Partial("SortButton", new SortButton { SortBy = "creator", IsAlphabetic = true, Action = "Details", Controller = "Test" })
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().StemText)
                    @Html.Partial("SortButton", new SortButton { SortBy = "question", IsAlphabetic = true, Action = "Details", Controller = "Test" })
                </th>
                <th scope="col">
                    Rating
                    @Html.Partial("SortButton", new SortButton { SortBy = "rating", IsDefaultDescending = true, Action = "Details", Controller = "Test" })
                </th>
                <th scope="col">
                    Difficulty
                    @Html.Partial("SortButton", new SortButton { SortBy = "difficulty", IsDefaultDescending = true, Action = "Details", Controller = "Test" })
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().UpdatedDate)
                    @Html.Partial("SortButton", new SortButton { SortBy = "updated", IsDefaultDescending = true, Action = "Details", Controller = "Test" })
                </th>
            </tr>

            @foreach (var item in Model.Questions)
        {
            <tr>
                <th scope="row">
                    <a href="@Url.Action("Details", "Question", new { id = item.Id })">@item.Id</a>
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StemText)
                </td>
                <td>
                    @{
                    double rating = item.Ratings.Count == 0 ? 0 : item.Ratings.Sum(r => r.RatingScore) / item.Ratings.Count;
                    }
                    @Html.DisplayFor(modelItem => rating)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
            </tr>
    }
        </table>

    </div>
    <div class="panel-footer">
        <div>
            @if (Model.Test.AspNetUserId == User.Identity.GetUserId())
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Test.Id }, new { @class = "btn btn-primary" })
                <span></span>
                @Html.ActionLink("Delete", "Delete", new { id = Model.Test.Id }, new { @class = "btn btn-danger" })
            }
            <a href="javascript:history.back()" class="btn btn-default">Back</a>
        </div>
    </div>
</div>