﻿@model mcqMaster.ViewModels.QuestionDetailsViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@{
    ViewBag.Title = "Display Question";
}

<h2>Question #@Html.DisplayFor(model => model.Question.Id)</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="h4">@Html.DisplayFor(model => model.Question.StemText)</h3>
        @if (Model.Question.GraphicPath != null)
        {
            <img src="@Url.Content(Model.Question.GraphicPath)" alt="Image" class="mcq-image-size" />
        }
    </div>
    <div class="panel-body">
        @{
            char letter = 'A';
            foreach (var item in Model.ShuffledOptions)
            {
                <div class="row mcq-vertical-align mcq-my-2 mcq-mx-0">
                    <div class="col-xs-2 col-sm-1 mcq-remove-padding">
                        <button type="button"
                                class="btn btn-default option-button"
                                data-letter="@letter"
                                value="@item.Id">
                            @letter
                        </button>
                    </div>
                    <div class="col-xs-10 col-md-6 mcq-remove-padding">
                        @Html.DisplayFor(modelItem => item.OptionText)
                    </div>
                </div>
                letter++;
            }
        }

        <div class="row">
            <div class="h4 text-center mcq-feedback col-xs-12">
                <div id="response-is-correct"></div>
                <div id="response-feedback"></div>
                <input id="selected-letter" type="hidden" value="a" />
                <input id="selected-option" type="hidden" value="b" />
            </div>
        </div>

        <hr class="mcq-remove-margin-top" />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h4>Rate Question</h4>
            <div class="row mcq-mb-2">
                @for (int i = 1; i <= 5; i++)
                {
                    <div class="col-xs-1">@Html.RadioButtonFor(model => model.Rating, i) @i</div>
                }
            </div>
            <div>@Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })</div>
            <input type="submit" value="Rate" class="btn btn-default" />
        }
    </div>
    <div class="panel-footer">
        <button id="submit-response"
                type="button"
                class="btn btn-primary"
                data-url="@Url.Action("SubmitResponse", "Test")"
                disabled>
            Submit Answer
        </button>
        <button type="button"
                id="next-question"
                class="btn btn-primary"
                data-url="@Url.Action("NextQuestion", "Test")"
                disabled>
            Next Question
        </button>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('.option-button').click(function () {
                var self = $(this);
                var value = self["0"].value;
                var letter = self["0"].dataset.letter;

                $(".option-button").removeClass("btn-success");
                self.addClass("btn-success");
                $("#submit-response").removeAttr("disabled");
                $("#response-feedback").html("Selected: <strong>" + letter + "</strong>");
                $("#selected-option").val(value);
                $("#selected-letter").val(letter);
            });

            $('#submit-response').click(function () {
                var self = $(this);
                var url = self["0"].dataset.url;
                var value = $("#selected-option").val();
                var letter = $("#selected-letter").val();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                $.ajax({
                    url: url,
                    data: {
                        __RequestVerificationToken: token,
                        optionId: value
                    },
                    type: 'POST',
                    success: function (response) {
                        $(".option-button").attr("disabled", "disabled");
                        $("#submit-response").attr("disabled", "disabled");
                        $("#next-question").removeAttr("disabled");
                        if (response === "True") {
                            $("#response-is-correct").html("<strong>Correct</strong>");
                            $("#response-feedback").text("You selected " + letter);
                        } else {
                            $("#response-is-correct").html("<strong>Incorrect</strong>");
                            $("#response-feedback").text("You selected " + letter +". The correct answer was " + response);
                        }
                    }
                });
            });

            $('#next-question').click(function () {
                var self = $(this);
                var url = self["0"].dataset.url;
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                $.ajax({
                    url: url,
                    data: {
                        __RequestVerificationToken: token
                    },
                    type: 'POST',
                    success: function (response) {
                        if (response === "QuestionAdvanced") {
                            location.reload();
                        } else {
                            location.replace(location.origin + "/Test/TakeTest/" + response + "/TestFinished");
                        }                        
                    }
                });
            });
        });
    </script>
}

