﻿@model mcqMaster.ViewModels.FinalizeTestViewModel
@using PagedList.Mvc;
@using mcqMaster.ViewModels;
@{
    ViewBag.Title = ViewBag.EditMode ? "Edit Test" : "Finalize Test";
}

<h2>
    @if (ViewBag.EditMode)
    {
        @:Edit
    }
    else
    {
        @:Create
    }
</h2>

<div class="panel panel-default form-horizontal">
    <div class="panel-heading">
        <h3>
            @if (ViewBag.EditMode)
            {
                @:Edit @Model.TestName
            }
            else
                {
                @:Finalize New Test
            }
        </h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "create-test-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.TestName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TestName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TestName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PresentAll, htmlAttributes: new { @class = "control-label col-xs-4 col-md-2" })
                <div class="col-xs-8 col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.PresentAll)
                        @Html.ValidationMessageFor(model => model.PresentAll, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPublic, htmlAttributes: new { @class = "control-label col-xs-4 col-md-2" })
                <div class="col-xs-8 col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPublic)
                        @Html.ValidationMessageFor(model => model.IsPublic, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }

        <hr />
        <h4>Questions</h4>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="searchTerm" class="form-control col-xs-12" placeholder="Search for...">
                        @if (ViewBag.SortBy != null)
                        {
                            <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                        }
                        @if (ViewBag.SortMode != null)
                        {
                            <input type="hidden" name="sortMode" value="@ViewBag.SortMode" />
                        }
                        <input type="hidden" name="page" value="1" />
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit" value="Search" />
                        </span>
                    </div>
                </form>
            </div>
            <div class="text-center col-xs-12 col-md-6">
                @Html.PagedListPager(Model.Questions, page => Url.Action("Finalize", new { page, sortBy = ViewBag.SortBy, sortMode = ViewBag.SortMode, searchTerm = ViewBag.SearchTerm }))
            </div>
            <div class="col-xs-12 col-md-3">
                @Html.ActionLink("Modify Question Selection", "SelectQuestions", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-info pull-right" })
            </div>
        </div>

        <table class="table">
            <colgroup>
                <col />
                <col />
                <col width="12%" />
                <col width="33%" />
                <col />
                <col />
                <col />
            </colgroup>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Id)
                    @Html.Partial("SortButton", new SortButton { IsDefault = true, Action = "Finalize", Controller = "Test" })
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Subject)
                    @Html.Partial("SortButton", new SortButton { SortBy = "subject", IsAlphabetic = true, Action = "Finalize", Controller = "Test" })
                </th>
                <th scope="col">
                    Creator
                    @Html.Partial("SortButton", new SortButton { SortBy = "creator", IsAlphabetic = true, Action = "Finalize", Controller = "Test" })
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().StemText)
                    @Html.Partial("SortButton", new SortButton { SortBy = "question", IsAlphabetic = true, Action = "Finalize", Controller = "Test" })
                </th>
                <th scope="col">
                    Rating
                    @Html.Partial("SortButton", new SortButton { SortBy = "rating", IsDefaultDescending = true, Action = "Finalize", Controller = "Test" })
                </th>
                <th scope="col">
                    Difficulty
                    @Html.Partial("SortButton", new SortButton { SortBy = "difficulty", IsDefaultDescending = true, Action = "Finalize", Controller = "Test" })
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().UpdatedDate)
                    @Html.Partial("SortButton", new SortButton { SortBy = "updated", IsDefaultDescending = true, Action = "Finalize", Controller = "Test" })
                </th>
            </tr>

            @foreach (var item in Model.Questions)
            {
                <tr>
                    <th scope="row">
                        <a href="@Url.Action("Details", "Question", new { id = item.Id })">@item.Id</a>
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StemText)
                    </td>
                    <td>
                        @{
                            double rating = item.Ratings.Count == 0 ? 0 : item.Ratings.Sum(r => r.RatingScore) / item.Ratings.Count;
                        }
                        @Html.DisplayFor(modelItem => rating)
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                </tr>
            }
        </table>

    </div>
    <div class="panel-footer">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <input type="submit"
                   form="create-test-form"
                   class="btn btn-primary"
                   value="
                   @if (ViewBag.EditMode)
                   {
                       @:Save  Changes
                   }
                   else
                   {
                       @:Create
                   }" />
            @Html.ActionLink("Cancel", "MyTests", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}