﻿@model PagedList.IPagedList<mcqMaster.ViewModels.TestIndexViewModel>
@using PagedList.Mvc;
@using mcqMaster.ViewModels;
@{
    ViewBag.Title = "My Tests";
}

<h2>My Tests</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="row">
    <div class="col-xs-12 col-md-3">
        <form method="get">
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control col-xs-12" placeholder="Search for...">
                @if (ViewBag.SortBy != null)
                {
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                }
                @if (ViewBag.SortMode != null)
                {
                    <input type="hidden" name="sortMode" value="@ViewBag.SortMode" />
                }
                <input type="hidden" name="page" value="1" />
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Search" />
                </span>
            </div>
        </form>
    </div>
    <div class="text-center col-xs-12 col-md-6">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortBy = ViewBag.SortBy, sortMode = ViewBag.SortMode, searchTerm = ViewBag.SearchTerm }))
    </div>
</div>

<table class="table">
    <colgroup>
        <col width="15%"/>
        <col width="15%"/>
        <col width="15%" />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Test.TestName)
            @Html.Partial("SortButton", new SortButton { IsDefault = true, IsAlphabetic = true, Action = "Index", Controller = "Test" })
        </th>
        <th scope="col">
            Subject(s)
            @Html.Partial("SortButton", new SortButton { SortBy = "subject", IsAlphabetic = true, Action = "Index", Controller = "Test" })
        </th>
        <th scope="col">
            Creator
            @Html.Partial("SortButton", new SortButton { SortBy = "creator", IsAlphabetic = true, Action = "Index", Controller = "Test" })
        </th>
        <th scope="col">
            # of Questions
            @Html.Partial("SortButton", new SortButton { SortBy = "questions", IsDefaultDescending = true, Action = "Index", Controller = "Test" })
        </th>
        <!--<th scope="col">
            Difficulty
            Html.Partial("SortButton", new SortButton { SortBy = "difficulty", IsDefaultDescending = true, Action = "Index", Controller = "Test" })
        </th>-->
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Test.UpdatedDate)
            @Html.Partial("SortButton", new SortButton { SortBy = "updated", IsDefaultDescending = true, Action = "Index", Controller = "Test" })
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.Test.TestName).ToString(), "Details", new { id = item.Test.Id })
            </th>
            <td>
                @{
                    string subjects = "";
                    if (item.Subjects.Count > 3)
                    {
                        subjects = "Various";
                    }
                    else
                    {
                        for (int i = 0; i < item.Subjects.Count; i++)
                        {
                            subjects += item.Subjects[i];
                            if (i != item.Subjects.Count - 1)
                            {
                                subjects += ", ";
                            }
                        }
                    }
                }
                @subjects
            </td>
            <td>
                <a href="@Url.Action("Index", "Profile", new { username = item.Test.AspNetUser.UserName })">@Html.DisplayFor(modelItem => item.Test.AspNetUser.UserName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Test.TestQuestions.Count)
            </td>
            <!--<td>
                <!--Difficulty
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Test.UpdatedDate)
            </td>
            <td>
                @Html.ActionLink("Take Test", "TakeTest", new { id = item.Test.Id }, new { @class = "btn btn-primary" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Test.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Test.Id })
            </td>
        </tr>
    }

</table>
