﻿@model PagedList.IPagedList<mcqMaster.ViewModels.SelectQuestionViewModel>
@using PagedList.Mvc;
@using mcqMaster.ViewModels;
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@{
    ViewBag.Title = ViewBag.EditMode ? "Edit Question Selection" : "Select Questions";
}

<h2>
    @if (ViewBag.EditMode)
    {
        @:Edit
    }
    else
    {
        @:Create
    }
</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Select Test Questions</h3>
        <h4 class="text-info">Questions Selected: <span id="selected-questions">@ViewBag.SelectedQuestions</span></h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <form method="get">
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control col-xs-12" placeholder="Search for...">
                @if (ViewBag.SortBy != null)
                {
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                }
                @if (ViewBag.SortMode != null)
                {
                    <input type="hidden" name="sortMode" value="@ViewBag.SortMode" />
                }
                <input type="hidden" name="page" value="1" />
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Search" />
                </span>
            </div>
        </form>
    </div>
    <div class="text-center col-xs-12 col-md-6">
        @Html.PagedListPager(Model, page => Url.Action("SelectQuestions", new { page, sortBy = ViewBag.SortBy, sortMode = ViewBag.SortMode, searchTerm = ViewBag.SearchTerm }))
    </div>
</div>

<table class="table">
    <colgroup>
        <col />
        <col />
        <col width="11%" />
        <col width="32%" />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Question.Id)
            @Html.Partial("SortButton", new SortButton { IsDefault = true, Action = "SelectQuestions", Controller = "Test" })
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Question.Subject)
            @Html.Partial("SortButton", new SortButton { SortBy = "subject", IsAlphabetic = true, Action = "SelectQuestions", Controller = "Test" })
        </th>
        <th scope="col">
            Creator
            @Html.Partial("SortButton", new SortButton { SortBy = "creator", IsAlphabetic = true, Action = "SelectQuestions", Controller = "Test" })
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Question.StemText)
            @Html.Partial("SortButton", new SortButton { SortBy = "question", IsAlphabetic = true, Action = "SelectQuestions", Controller = "Test" })
        </th>
        <th scope="col">
            Rating
            @Html.Partial("SortButton", new SortButton { SortBy = "rating", IsDefaultDescending = true, Action = "SelectQuestions", Controller = "Test" })
        </th>
        <th scope="col">
            Difficulty
            @Html.Partial("SortButton", new SortButton { SortBy = "difficulty", IsDefaultDescending = true, Action = "SelectQuestions", Controller = "Test" })
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Question.UpdatedDate)
            @Html.Partial("SortButton", new SortButton { SortBy = "updated", IsDefaultDescending = true, Action = "SelectQuestions", Controller = "Test" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                <a href="@Url.Action("Details", "Question", new { id = item.Question.Id })">@item.Question.Id</a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Subject.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.AspNetUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.StemText)
            </td>
            <td>
                @{
                    double rating = item.Question.Ratings.Count == 0 ? 0 : item.Question.Ratings.Sum(r => r.RatingScore) / item.Question.Ratings.Count;
                }
                @Html.DisplayFor(modelItem => rating)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.UpdatedDate)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsSelected,
                                                      new
                                                      {
                                                          id = "selection-for-question-" + item.Question.Id,
                                                          @class = "selection-toggle",
                                                          data_url = Url.Action("ToggleQuestionSelected", "Test")
                                                      })
            </td>
        </tr>
    }
</table>
<div class="panel panel-default">
    <div class="panel-footer">
        <button id="btn-continue"
                class="btn btn-primary"
                onclick="location.href='@Url.Action("Finalize", "Test", new { id = ViewContext.RouteData.Values["id"] })'"
                @if (((List<int>)Session["SelectedQuestions"]).Count <= 0)
                {
                    @:disabled
                }>
            Continue
        </button>
        @Html.ActionLink("Cancel", "MyTests", null, new { @class = "btn btn-danger" })
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('.selection-toggle').change(function () {
                var self = $(this);
                var url = self.data('url');
                var id = self.attr('id');
                var value = self.prop('checked');
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                $.ajax({
                    url: url,
                    data: {
                        __RequestVerificationToken: token,
                        id: id,
                        isSelected: value
                    },
                    type: 'POST',
                    success: function (response) {
                        $('#selected-questions').text(response);
                        if (response <= 0) {
                            $('#btn-continue').prop('disabled', true)
                        } else {
                            $('#btn-continue').prop('disabled', false)
                        }
                    }
                });
            });
        });
    </script>
}