﻿@model mcqMaster.ViewModels.TestStatisticsViewModel
@using PagedList.Mvc;
@using mcqMaster.ViewModels;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Statistics";
}

<h2>@Html.DisplayFor(model => model.Test.TestName)</h2>

<div class="row">
    <div class="panel panel-default container-fluid">
        <div class="panel-heading row">
            <div class="col-xs-12 col-md-4">
                <h3 class="h4">Test Statistics</h3>
            </div>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-6">
                    @Html.DropDownList("Mode", null, htmlAttributes: new { id = "mode-select", @class = "form-control", data_testid = Model.Test.Id })
                </div>
            </div>

            <hr />

            <div class="row h4">
                <div class="col-xs-6 mcq-font-bold">
                    @Html.DisplayNameFor(m => m.AverageScore)
                </div>
                <div class="col-xs-6">
                    @Html.DisplayFor(m => m.AverageScore)
                </div>
            </div>

            <div class="row h4">
                <div class="col-xs-6 mcq-font-bold">
                    @Html.DisplayNameFor(m => m.TimesTaken)
                </div>
                <div class="col-xs-6">
                    @Html.DisplayFor(m => m.TimesTaken)
                </div>
            </div>

            <div class="row h4">
                <div class="col-xs-6 mcq-font-bold">
                    @Html.DisplayNameFor(m => m.UniqueUsers)
                </div>
                <div class="col-xs-6">
                    @Html.DisplayFor(m => m.UniqueUsers)
                </div>
            </div>


            @if (ViewBag.SelectedMode != null && ViewBag.SelectedMode.Equals("question"))
            {
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <form method="get">
                            <div class="input-group">
                                <input type="text" name="searchTerm" class="form-control col-xs-12" placeholder="Search for...">
                                @if (ViewBag.SortBy != null)
                                {
                                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                                }
                                @if (ViewBag.SortMode != null)
                                {
                                    <input type="hidden" name="sortMode" value="@ViewBag.SortMode" />
                                }
                                <input type="hidden" name="page" value="1" />
                                <span class="input-group-btn">
                                    <input class="btn btn-default" type="submit" value="Search" />
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="text-center col-xs-12 col-md-6">
                        @Html.PagedListPager(Model.Questions, page => Url.Action("Index", new { page, sortBy = ViewBag.SortBy, sortMode = ViewBag.SortMode, searchTerm = ViewBag.SearchTerm }))
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Question.Id)
                            @Html.Partial("SortButton", new SortButton { IsDefault = true, Action = "Statistics", Controller = "Test" })
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Question.StemText)
                            @Html.Partial("SortButton", new SortButton { SortBy = "score", IsAlphabetic = true, Action = "Statistics", Controller = "Test" })
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Questions.FirstOrDefault().Score)
                            @Html.Partial("SortButton", new SortButton { SortBy = "score", IsDefaultDescending = true, Action = "Statistics", Controller = "Test" })
                        </th>
                    </tr>

                    @foreach (var item in Model.Questions)
                    {
                        <tr>
                            <th scope="row">
                                @Html.ActionLink(@Html.DisplayFor(modelItem => item.Question.Id).ToString(), "Statistics", new { id = Model.Test.Id })
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Question.StemText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Score)
                            </td>
                        </tr>
                    }

                </table>
            }

            @if (ViewBag.SelectedMode != null && ViewBag.SelectedMode.Equals("user"))
            {
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <form method="get">
                            <div class="input-group">
                                <input type="text" name="searchTerm" class="form-control col-xs-12" placeholder="Search for...">
                                @if (ViewBag.SortBy != null)
                                {
                                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                                }
                                @if (ViewBag.SortMode != null)
                                {
                                    <input type="hidden" name="sortMode" value="@ViewBag.SortMode" />
                                }
                                <input type="hidden" name="page" value="1" />
                                <span class="input-group-btn">
                                    <input class="btn btn-default" type="submit" value="Search" />
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="text-center col-xs-12 col-md-6">
                        @Html.PagedListPager(Model.Attempts, page => Url.Action("Index", new { page, sortBy = ViewBag.SortBy, sortMode = ViewBag.SortMode, searchTerm = ViewBag.SearchTerm }))
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Attempts.FirstOrDefault().Attempt.AspNetUser.UserName)
                            @Html.Partial("SortButton", new SortButton { IsDefault = true, IsAlphabetic = true, Action = "Statistics", Controller = "Test" })
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Attempts.FirstOrDefault().Score)
                            @Html.Partial("SortButton", new SortButton { SortBy = "score", IsDefaultDescending = true, Action = "Statistics", Controller = "Test" })
                        </th>
                        <th scope="col">
                            Date Taken
                            @Html.Partial("SortButton", new SortButton { SortBy = "datetaken", IsDefaultDescending = true, Action = "Statistics", Controller = "Test" })
                        </th>
                    </tr>

                    @foreach (var item in Model.Attempts)
                    {
                        <tr>
                            <th scope="row">
                                @Html.ActionLink(@Html.DisplayFor(modelItem => item.Attempt.AspNetUser.UserName).ToString(), "Statistics", new { id = Model.Test.Id })
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.CorrectResponses) / @Html.DisplayFor(modelItem => item.Attempt.Responses.Count)
                                (@Html.DisplayFor(modelItem => item.Score))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Attempt.EndTime)
                            </td>
                        </tr>
                    }

                </table>
            }


        </div>
        <div class="panel-footer row">
            <a href="javascript:history.back()" class="btn btn-default">Back</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#mode-select").change(function () {
                location.replace(location.origin + "/Test/Statistics/" + $(this).data("testid") + "?mode=" + $(this).val());
            });
        });
    </script>
}