﻿@model mcqMaster.Models.Test
@{
    ViewBag.Title = "TakeTest";
}

<h2>Take Test: @Html.DisplayFor(model => model.TestName)</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default form-horizontal">
        <div class="panel-heading">
            <h3 class="h4">Test Details</h3>
        </div>
        <div class="panel-body">
            <div class="row mcq-vertical-align mcq-my-2">
                <div class="col-xs-2">
                    <strong>Creator</strong>
                </div>
                <div class="col-xs-10 col-md-6">
                    @Html.DisplayFor(model => model.AspNetUser.UserName)
                </div>
            </div>
            <div class="row mcq-vertical-align mcq-my-2">
                <div class="col-xs-2">
                    <strong>Number of Questions</strong>
                </div>
                <div class="col-xs-10 col-md-6">
                    @Html.DisplayFor(model => model.TestQuestions.Count)
                </div>
            </div>

            <!--if (!Model.PresentAll)
    {
        -->
            <div class="row mcq-vertical-align mcq-my-2">
                <div class="col-xs-2">
                    <strong>@Html.DisplayNameFor(model => model.PresentAll)</strong>
                </div>
                <div class="col-xs-10 col-md-6">
                    @Html.EditorFor(model => model.PresentAll)
                </div>
            </div>
            <!--}-->


        </div>
        <div class="panel-footer">
            <div>
                <button type="submit" class="btn btn-primary">Start Test</button>
                <a href="javascript:history.back()" class="btn btn-default">Back</a>
            </div>
        </div>
    </div>
}