﻿@model mcqMaster.ViewModels.TestFinishedViewModel
@{
    ViewBag.Title = "Test Complete";
}

<h2>Test Complete</h2>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Test.TestName Complete</h3>
    </div>
    <div class="panel-body">
        <p class="h4">
            You scored <strong>@Html.DisplayFor(mcqMaster => mcqMaster.Score)</strong>
        </p>
        <p class="h4">
            You answered @Model.CorrectResponses questions correctly out of @Model.AnsweredQuestions.
        </p>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Return to Index", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>

