﻿@using mcqMaster.Models;
@model mcqMaster.ViewModels.CreateQuestionViewModel

@{
    ViewBag.Title = "Create Question";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default form-horizontal">
        <div class="panel-heading">
            <h3 class="h4">Create New Question</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(model => model.SubjectId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SubjectId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StemText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StemText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StemText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GraphicPath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GraphicPath, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GraphicPath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPublic, htmlAttributes: new { @class = "control-label col-xs-4 col-md-2" })
                <div class="col-xs-8 col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPublic)
                        @Html.ValidationMessageFor(model => model.IsPublic, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-xs-2 visible-xs"></div>
                <div class="col-xs-4 col-sm-offset-2">
                    <strong>Options</strong>
                </div>
                <div class="col-xs-2 text-center">
                    <strong>Correct Answer</strong>
                </div>
            </div>            
            <div class="form-group">
                @Html.LabelFor(model => model.OptionText, htmlAttributes: new { @class = "control-label col-xs-2" })
                <div class="col-xs-4">
                    @Html.EditorFor(model => model.OptionText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OptionText, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-2 text-center">
                    @Html.RadioButtonFor(model => model.CorrectAnswer, 0)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OptionText1, htmlAttributes: new { @class = "control-label col-xs-2" })
                <div class="col-xs-4">
                    @Html.EditorFor(model => model.OptionText1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OptionText1, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-2 text-center">
                    @Html.RadioButtonFor(model => model.CorrectAnswer, 1)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OptionText2, htmlAttributes: new { @class = "control-label col-xs-2" })
                <div class="col-xs-4">
                    @Html.EditorFor(model => model.OptionText2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OptionText2, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-2 text-center">
                    @Html.RadioButtonFor(model => model.CorrectAnswer, 2)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OptionText3, htmlAttributes: new { @class = "control-label col-xs-2" })
                <div class="col-xs-4">
                    @Html.EditorFor(model => model.OptionText3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OptionText3, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-2 text-center">
                    @Html.RadioButtonFor(model => model.CorrectAnswer, 3)
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.CorrectAnswer, "", new { @class = "text-danger" })
                    <div>
                        <input type="submit" value="Create" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "MyQuestions", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
