﻿@using Microsoft.AspNet.Identity
@model mcqMaster.ViewModels.QuestionDetailsViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
@{
    ViewBag.Title = "Question Details";
}

<h2>Question #@Html.DisplayFor(model => model.Question.Id)</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="h4">Question Details</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">
                <strong>@Html.DisplayNameFor(model => model.Question.Subject.Description)</strong>
            </div>
            <div class="col-xs-10 col-md-6">
                @Html.DisplayFor(model => model.Question.Subject.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <strong>Creator</strong>
            </div>
            <div class="col-xs-10 col-md-6">
                @Html.DisplayFor(model => model.Question.AspNetUser.UserName)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <strong>@Html.DisplayNameFor(model => model.Question.IsPublic)</strong>
            </div>
            <div class="col-xs-10 col-md-6">
                @Html.DisplayFor(model => model.Question.IsPublic)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <strong>@Html.DisplayNameFor(model => model.Question.CreatedDate)</strong>
            </div>
            <div class="col-xs-10 col-md-6">
                @Html.DisplayFor(model => model.Question.CreatedDate)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <strong>@Html.DisplayNameFor(model => model.Question.UpdatedDate)</strong>
            </div>
            <div class="col-xs-10 col-md-6">
                @Html.DisplayFor(model => model.Question.UpdatedDate)
            </div>
        </div>
        <div class="mcq-my-2">
            @Html.ActionLink("Statistics", "Statistics", new { id = Model.Question.Id }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="h4">@Html.DisplayFor(model => model.Question.StemText)</h3>
        @if (Model.Question.GraphicPath != null)
        {
            <img src="@Url.Content(Model.Question.GraphicPath)" alt="Image" class="mcq-image-size" />
        }
    </div>
    <div class="panel-body">
        @{
            char letter = 'A';
            foreach (var item in Model.ShuffledOptions)
            {
                <div class="row mcq-vertical-align mcq-my-2 mcq-mx-0">
                    <div class="col-xs-2 col-sm-1 mcq-remove-padding">
                        <button type="button"
                                class="btn btn-default option-button"
                                data-url="@Url.Action("PracticeResponse", "Question")"
                                data-letter="@letter"
                                value="@item.Id">
                            @letter
                        </button>
                    </div>
                    <div class="col-xs-10 col-md-6 mcq-remove-padding">
                        @if (item.IsCorrect && ViewBag.ShowCorrect)
                        {
                            <strong>@Html.DisplayFor(modelItem => item.OptionText)</strong>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.OptionText)
                        }
                    </div>
                </div>
                letter++;
            }
        }

        <div class="row">
            <div class="col-xs-12 col-sm-3 mcq-my-2">
                @Html.ActionLink(ViewBag.ShowCorrect ? "Hide Correct" : "Show Correct", "Details", new { showCorrect = !ViewBag.ShowCorrect }, new { @class = "btn btn-info" })
            </div>
            <div class="h4 text-center mcq-feedback col-xs-12 col-sm-6">
                <div id="response-is-correct"></div>
                <div id="response-feedback"></div>
            </div>
        </div>
        
        <hr class="mcq-remove-margin-top" />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h4>Rate Question</h4>
            <div class="row mcq-mb-2">
                @for (int i = 1; i <= 5; i++)
                {
                    <div class="col-xs-1">@Html.RadioButtonFor(model => model.Rating, i) @i</div>
                }
            </div>
            <div>@Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })</div>
            <input type="submit" value="Rate" class="btn btn-default" />
        }
    </div>
    <div class="panel-footer">
        @if (Model.Question.AspNetUserId == User.Identity.GetUserId())
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Question.Id }, new { @class = "btn btn-primary" })
            <span></span>
            @Html.ActionLink("Delete", "Delete", new { id = Model.Question.Id }, new { @class = "btn btn-danger" })
        }
        <a href="javascript:history.back()" class="btn btn-default">Back</a>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('.option-button').click(function () {
                var self = $(this);
                var url = self["0"].dataset.url;
                var value = self["0"].value;
                var letter = self["0"].dataset.letter;
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                $.ajax({
                    url: url,
                    data: {
                        __RequestVerificationToken: token,
                        optionId: value
                    },
                    type: 'POST',
                    success: function (response) {
                        if (response === "True") {
                            $("#response-is-correct").html("<strong>Correct</strong>");
                            $("#response-feedback").text("You selected " + letter);
                        } else {
                            $("#response-is-correct").html("<strong>Incorrect</strong>");
                            $("#response-feedback").text("You selected " + letter +". The correct answer was " + response);
                        }
                    }
                });
            });
        });
    </script>
}