﻿@model PagedList.IPagedList<mcqMaster.Models.Question>
@using PagedList.Mvc;
@using mcqMaster.ViewModels;
@{
    ViewBag.Title = "My Questions";
}

<h2>My Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="row">
    <div class="col-xs-12 col-md-3">
        <form method="get">
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control col-xs-12" placeholder="Search for...">
                @if (ViewBag.SortBy != null)
                {
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                }
                @if (ViewBag.SortMode != null)
                {
                    <input type="hidden" name="sortMode" value="@ViewBag.SortMode" />
                }
                <input type="hidden" name="page" value="1" />
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Search" />
                </span>
            </div>
        </form>
    </div>
    <div class="text-center col-xs-12 col-md-6">
        @Html.PagedListPager(Model, page => Url.Action("MyQuestions", new { page, sortBy = ViewBag.SortBy, sortMode = ViewBag.SortMode, searchTerm = ViewBag.SearchTerm }))
    </div>
</div>

<table class="table">
    <colgroup>
        <col />
        <col />
        <col width="12%" />
        <col width="34%" />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
            @Html.Partial("SortButton", new SortButton { IsDefault = true, Action = "MyQuestions", Controller = "Question" })
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
            @Html.Partial("SortButton", new SortButton { SortBy = "subject", IsAlphabetic = true, Action = "MyQuestions", Controller = "Question" })
        </th>
        <th scope="col">
            Creator
            @Html.Partial("SortButton", new SortButton { SortBy = "creator", IsAlphabetic = true, Action = "MyQuestions", Controller = "Question" })
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().StemText)
            @Html.Partial("SortButton", new SortButton { SortBy = "question", IsAlphabetic = true, Action = "MyQuestions", Controller = "Question" })
        </th>
        <th scope="col">
            Rating
            @Html.Partial("SortButton", new SortButton { SortBy = "rating", IsDefaultDescending = true, Action = "MyQuestions", Controller = "Question" })
        </th>
        <th scope="col">
            Difficulty
            @Html.Partial("SortButton", new SortButton { SortBy = "difficulty", IsDefaultDescending = true, Action = "MyQuestions", Controller = "Question" })
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdatedDate)
            @Html.Partial("SortButton", new SortButton { SortBy = "updated", IsDefaultDescending = true, Action = "MyQuestions", Controller = "Question" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.Id).ToString(), "Details", new { id = item.Id })
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Description)
            </td>
            <td>
                <a href="@Url.Action("Index", "Profile", new { username = item.AspNetUser.UserName })">@Html.DisplayFor(modelItem => item.AspNetUser.UserName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StemText)
            </td>
            <td>
                @{
                    double rating = item.Ratings.Count == 0 ? 0 : item.Ratings.Sum(r => r.RatingScore) / item.Ratings.Count;
                }
                @Html.DisplayFor(modelItem => rating)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>