﻿@model mcqMaster.ViewModels.QuestionStatisticsViewModel
@using PagedList.Mvc;
@using mcqMaster.ViewModels;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Statistics";
}


<h2>Question #@Html.DisplayFor(model => model.Question.Id)</h2>
<div class="row">
    <div class="panel panel-default container-fluid">
        <div class="panel-heading row">
            <div class="col-xs-12 col-md-4">
                <h2>Statistics</h2>
            </div>
        </div>
        <div class="panel-body">
            <div class="row mcq-remove-margin">
                <div class="row h4">
                    <div class="col-xs-6 mcq-font-bold">
                        @Html.DisplayNameFor(m => m.Score)
                    </div>
                    <div class="col-xs-6">
                        @Html.DisplayFor(m => m.Score)
                    </div>
                </div>

                <div class="row h4">
                    <div class="col-xs-6 mcq-font-bold">
                        @Html.DisplayNameFor(m => m.ResponseCount)
                    </div>
                    <div class="col-xs-6">
                        @Html.DisplayFor(m => m.ResponseCount)
                    </div>
                </div>

                <div class="row h4">
                    <div class="col-xs-6 mcq-font-bold">
                        @Html.DisplayNameFor(m => m.TestsCount)
                    </div>
                    <div class="col-xs-6">
                        @Html.DisplayFor(m => m.TestsCount)
                    </div>
                </div>

                <div class="row h4">
                    <div class="col-xs-6 mcq-font-bold">
                        @Html.DisplayNameFor(m => m.Rating)
                    </div>
                    <div class="col-xs-6">
                        @Html.DisplayFor(m => m.Rating)
                    </div>
                </div>
            </div>

            <table class="table">
                <tr>
                    <th scope="col">
                        Option
                    </th>
                    <th scope="col">
                        Is Correct
                    </th>
                    <th scope="col">
                        Response Frequency
                    </th>
                </tr>

                @foreach (var item in Model.OptionFrequencies.OrderByDescending(i => i.Key.IsCorrect))
                {
                    <tr>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.Key.OptionText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Key.IsCorrect)
                        </td>
                        <td>
                            @string.Format("{0:P1}", item.Value)
                        </td>
                    </tr>
                }

            </table>

        </div>
        <div class="panel-footer row">
            <a href="javascript:history.back()" class="btn btn-default">Back</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#mode-select").change(function () {
                location.replace(location.origin + "/Profile/Statistics/?mode=" + $(this).val());
            });

            $("#subject-select").change(function () {
                location.replace(location.origin + "/Profile/Statistics/?mode=subject&subject=" + $(this).val());
            });
        });
    </script>
}

