﻿@model mcqMaster.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Password Reset";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your username or email address.</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.UsernameOrEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UsernameOrEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UsernameOrEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
