﻿@model mcqMaster.Models.SecurityQuestionViewModel
@{
    ViewBag.Title = "Security Question";
}

<h2>Security Question</h2>

@using (Html.BeginForm("SecurityQuestion", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <input type="hidden" value="@Model.UserName" name="UserName" />
    <div class="form-group">
        <div class="row">
            @Html.LabelFor(m => m.SecurityQuestion, new { @class = "col-md-2 control-label" })
            <div class="col-md-10 mcq-my-2">
                @Html.DisplayFor(m => m.SecurityQuestion)
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.SecurityAnswer, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.SecurityAnswer, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SecurityAnswer, "", new { @class = "text-danger" })
            </div>
        </div>        
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}