﻿@model PagedList.IPagedList<mcqMaster.Models.ApplicationUser>
@using PagedList.Mvc;
@using mcqMaster.ViewModels;
@{
    ViewBag.Title = "User Admin";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}
<h2>User Administration</h2>

<div class="row">
    <div class="col-xs-12 col-md-3">
        <form method="get">
            <div class="input-group">
                <input type="text" name="searchTerm" class="form-control col-xs-12" placeholder="Search for...">
                @if (ViewBag.SortBy != null)
                {
                    <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                }
                @if (ViewBag.SortMode != null)
                {
                    <input type="hidden" name="sortMode" value="@ViewBag.SortMode" />
                }
                <input type="hidden" name="page" value="1" />
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Search" />
                </span>
            </div>
        </form>
    </div>
    <div class="text-center col-xs-12 col-md-6">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortBy = ViewBag.SortBy, sortMode = ViewBag.SortMode, searchTerm = ViewBag.SearchTerm }))
    </div>
</div>

<table class="table">
    <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col width="25%" />
    </colgroup>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
            @Html.Partial("SortButton", new SortButton { IsDefault = true, Action = "UserIndex", Controller = "Account" })
        </th>
        <th scope="col">
            Name
            @Html.Partial("SortButton", new SortButton { SortBy = "name", IsAlphabetic = true, Action = "UserIndex", Controller = "Account" })
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            @Html.Partial("SortButton", new SortButton { SortBy = "email", IsAlphabetic = true, Action = "UserIndex", Controller = "Account" })
        </th>
        <th scope="col">
            Roles
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsBanned)
            @Html.Partial("SortButton", new SortButton { SortBy = "isbanned", IsDefaultDescending = true, Action = "UserIndex", Controller = "Account" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.UserName).ToString(), "Profile", new { id = item.Id })
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles.FirstOrDefault().RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBanned)
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-success empower-admin"
                            data-userid="@item.Id"
                            data-url="@Url.Action("EmpowerAdmin", "Account")">
                        Make Admin
                    </button>
                    <button class="btn btn-danger ban-user"
                            data-userid="@item.Id"
                            data-url="@Url.Action("BanUser", "Account")">
                        Ban User
                    </button>
                </div>
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script>
        $(function () {
            $('.empower-admin').click(function () {
                var self = $(this);
                var url = self.data('url');
                var userid = self.data('userid');
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                $.ajax({
                    url: url,
                    data: {
                        __RequestVerificationToken: token,
                        id: userid
                    },
                    type: 'POST',
                    success: function (response) {
                        alert(response);
                    }
                });
            });
        });
        $(function () {
            $('.ban-user').click(function () {
                var self = $(this);
                var url = self.data('url');
                var userid = self.data('userid');
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();

                $.ajax({
                    url: url,
                    data: {
                        __RequestVerificationToken: token,
                        id: userid
                    },
                    type: 'POST',
                    success: function (response) {
                        alert(response);
                    }
                });
            });
        });
    </script>
}