﻿@model mcqMaster.ViewModels.AccountSettingsViewModel

@{
    ViewBag.Title = "Account Settings";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="h1"></div>
    <div class="row">
        <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-xs-12 col-md-4">
                    <h2>Account Settings</h2>
                </div>
                <div class="col-xs-12 col-md-8">
                    @Html.Partial("ProfileNav", "AccountSettings")
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-4">
                    <div class="text-center">
                        <img class="mcq-image-size mcq-my-2"
                             src="
                                 @if (Model.PhotoPath != null)
                                 {
                                     @Model.PhotoPath
                                 }
                                 else
                                 {
                                    @:http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png
                                 }" />
                    </div>
                </div>

                <div class="col-xs-12 col-md-8">
                    <h3>@Model.UserName</h3>
                    <input type="hidden" value="@Model.AspNetUserId" name="AspNetUserId" />

                    <div class="mcq-my-2">
                        <button type="button"
                                class="btn btn-warning"
                                onclick="location.href='@Url.Action("ChangePassword", "Manage")'">
                            Change Password
                        </button>
                    </div>
                    
                    <div class="form-group row">
                        @Html.LabelFor(m => m.IsProfilePublic, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.CheckBoxFor(m => m.IsProfilePublic, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.IsNewQuestionPublic, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.CheckBoxFor(m => m.IsNewQuestionPublic, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer row">
                <div class="col-xs-12">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </div>
    </div>
}