﻿@model mcqMaster.ViewModels.EditProfileViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="h1"></div>
    <div class="row">
        <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-xs-12 col-md-4">
                    <h2>Edit</h2>
                </div>
                <div class="col-xs-12 col-md-8">
                    @Html.Partial("ProfileNav", "Edit")
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-4">
                    <div class="text-center">
                        <img class="mcq-image-size mcq-my-2"
                             src="
                     @if (Model.PhotoPath != null)
                     {
                         @Model.PhotoPath
                     }
                     else
                     {
                        @:http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png
                     }" />
                    </div>
                    <div>
                        @Html.LabelFor(m => m.PhotoPath, new { @class = "control-label" })
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.PhotoPath, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-xs-12 col-md-8">
                    <h3>@Model.UserName</h3>
                    <input type="hidden" value="@Model.AspNetUserId" name="AspNetUserId" />
                    <div class="form-group row">
                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GenderId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("GenderId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.IsDobPublic, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.CheckBoxFor(m => m.IsDobPublic, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.FavouriteSubjects, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(m => m.FavouriteSubjects, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(m => m.About, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(m => m.About, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer row">
                <div class="col-xs-12">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        </div>
    </div>
}