﻿@model mcqMaster.Models.ApplicationUser
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Profile";
}

<div class="h1"></div>
<div class="row">
    <div class="panel panel-default container-fluid">
        <div class="panel-heading row">            
            <div class="col-xs-12 col-md-4">
                <h2>Profile</h2>
            </div>
            <div class="col-xs-12 col-md-8">
                @if (Model.Id.Equals(HttpContext.Current.User.Identity.GetUserId()))
                {
                    @Html.Partial("ProfileNav", "Index")
                }
            </div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-4 text-center">
                <img class="mcq-image-size mcq-my-2"
                     src="
                     @if (Model.PhotoPath != null)
                     {
                         @Model.PhotoPath
                     }
                     else
                     {
                        @:http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png
                     }" />
            </div>

            <div class="col-xs-12 col-md-8">
                <h3>@Model.UserName</h3>
                <div class="row">
                    <div class="col-xs-3 mcq-font-bold">
                        Name
                    </div>
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 mcq-font-bold">
                        @Html.DisplayNameFor(model => model.Gender.Description)
                    </div>
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.Gender.Description)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 mcq-font-bold">
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </div>
                    <div class="col-xs-9">
                        @if (Model.IsDobPublic)
                        {
                            @Html.DisplayFor(model => model.DateOfBirth)
                        }
                        else
                        {
                            @:Private
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 mcq-font-bold">
                        Age
                    </div>
                    <div class="col-xs-9">
                        @ViewBag.Age
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 mcq-font-bold">
                        @Html.DisplayNameFor(model => model.FavouriteSubjects)
                    </div>
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.FavouriteSubjects)
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3 mcq-font-bold">
                        @Html.DisplayNameFor(model => model.About)
                    </div>
                    <div class="col-xs-9">
                        @Html.DisplayFor(model => model.About)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
