﻿@model mcqMaster.ViewModels.UserStatisticsViewModel
@using PagedList.Mvc;
@using mcqMaster.ViewModels;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Statistics";
}

<div class="h1"></div>
<div class="row">
    <div class="panel panel-default container-fluid">
        <div class="panel-heading row">
            <div class="col-xs-12 col-md-4">
                <h2>Statistics</h2>
            </div>
            <div class="col-xs-12 col-md-8">
                @Html.Partial("ProfileNav", "Statistics")
            </div>
        </div>
        <div class="panel-body">
            <div class="row mcq-remove-margin">
                <div class="col-xs-12 col-md-4 text-center">
                    <img class="mcq-image-size mcq-my-2"
                         src="
                     @if (Model.PhotoPath != null)
                     {
                         @Model.PhotoPath
                     }
                     else
                     {
                        @:http://www.personalbrandingblog.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640-300x300.png
                     }" />
                </div>

                <div class="col-xs-12 col-md-8">
                    <h3>@Model.UserName</h3>
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.DropDownList("Mode", null, htmlAttributes: new { id = "mode-select", @class = "form-control" })
                        </div>

                        @if (ViewBag.SelectedMode != null && ViewBag.SelectedMode.Equals("subject"))
                        {
                            <div class="col-xs-2 mcq-font-bold">
                                @Html.DisplayNameFor(model => model.Subject.Description)
                            </div>
                            <div class="col-xs-4">
                                @Html.DropDownList("SubjectId", null, htmlAttributes: new { id = "subject-select", @class = "form-control" })
                            </div>
                        }
                    </div>

                    <hr />

                    <div class="row h4">
                        <div class="col-xs-6 mcq-font-bold">
                            @Html.DisplayNameFor(m => m.AverageScore)
                        </div>
                        <div class="col-xs-6">
                            @Html.DisplayFor(m => m.AverageScore)
                        </div>
                    </div>

                    <div class="row h4">
                        <div class="col-xs-6 mcq-font-bold">
                            @Html.DisplayNameFor(m => m.TestsTaken)
                        </div>
                        <div class="col-xs-6">
                            @Html.DisplayFor(m => m.TestsTaken)
                        </div>
                    </div>

                    <div class="row h4">
                        <div class="col-xs-6 mcq-font-bold">
                            @Html.DisplayNameFor(m => m.UniqueTests)
                        </div>
                        <div class="col-xs-6">
                            @Html.DisplayFor(m => m.UniqueTests)
                        </div>
                    </div>

                </div>
            </div>

            @if (ViewBag.SelectedMode != null && ViewBag.SelectedMode.Equals("test"))
            {
                <div id="test-table">
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <form method="get">
                                <div class="input-group">
                                    <input type="text" name="searchTerm" class="form-control col-xs-12" placeholder="Search for...">
                                    @if (ViewBag.SortBy != null)
                                    {
                                        <input type="hidden" name="sortBy" value="@ViewBag.SortBy" />
                                    }
                                    @if (ViewBag.SortMode != null)
                                    {
                                        <input type="hidden" name="sortMode" value="@ViewBag.SortMode" />
                                    }
                                    <input type="hidden" name="page" value="1" />
                                    <span class="input-group-btn">
                                        <input class="btn btn-default" type="submit" value="Search" />
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="text-center col-xs-12 col-md-6">
                            @Html.PagedListPager(Model.Tests, page => Url.Action("Index", new { page, sortBy = ViewBag.SortBy, sortMode = ViewBag.SortMode, searchTerm = ViewBag.SearchTerm }))
                        </div>
                    </div>

                    <table class="table">
                        <colgroup>
                            <col width="15%" />
                            <col width="15%" />
                            <col width="15%" />
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <tr>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Tests.FirstOrDefault().Test.TestName)
                                @Html.Partial("SortButton", new SortButton { IsDefault = true, IsAlphabetic = true, Action = "Statistics", Controller = "Profile" })
                            </th>
                            <th scope="col">
                                Subject(s)
                                @Html.Partial("SortButton", new SortButton { SortBy = "subject", IsAlphabetic = true, Action = "Statistics", Controller = "Profile" })
                            </th>
                            <th scope="col">
                                Creator
                                @Html.Partial("SortButton", new SortButton { SortBy = "creator", IsAlphabetic = true, Action = "Statistics", Controller = "Profile" })
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Tests.FirstOrDefault().Score)
                                @Html.Partial("SortButton", new SortButton { SortBy = "score", IsDefaultDescending = true, Action = "Statistics", Controller = "Profile" })
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Tests.FirstOrDefault().DateTaken)
                                @Html.Partial("SortButton", new SortButton { SortBy = "datetaken", IsDefaultDescending = true, Action = "Statistics", Controller = "Profile" })
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Tests.FirstOrDefault().Test.UpdatedDate)
                                @Html.Partial("SortButton", new SortButton { SortBy = "updated", IsDefaultDescending = true, Action = "Statistics", Controller = "Profile" })
                            </th>
                        </tr>

                        @foreach (var item in Model.Tests)
                        {
                            <tr>
                                <th scope="row">
                                    @Html.ActionLink(@Html.DisplayFor(modelItem => item.Test.TestName).ToString(), "Statistics", new { testId = item.Test.Id })
                                </th>
                                <td>
                                    @{
                                        string subjects = "";
                                        if (item.Subjects.Count > 3)
                                        {
                                            subjects = "Various";
                                        }
                                        else
                                        {
                                            for (int i = 0; i < item.Subjects.Count; i++)
                                            {
                                                subjects += item.Subjects[i];
                                                if (i != item.Subjects.Count - 1)
                                                {
                                                    subjects += ", ";
                                                }
                                            }
                                        }
                                    }
                                    @subjects
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Test.AspNetUser.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CorrectResponses) / @Html.DisplayFor(modelItem => item.Test.TestQuestions.Count)
                                    (@Html.DisplayFor(modelItem => item.Score))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTaken)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Test.UpdatedDate)
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#mode-select").change(function (valalla) {
                location.replace(location.origin + "/Profile/Statistics/?mode=" + $(this).val());
            });

            $("#subject-select").change(function () {
                location.replace(location.origin + "/Profile/Statistics/?mode=subject&subject=" + $(this).val());
            });
        });
    </script>
}