﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>

    <h2>About</h2>

    <p>
        mcqMaster is a multiple-choice question and test creation tool.
    </p>

    <p>
        You can write questions, assemble them into tests, browse what other users have created, and take the tests yourself.
        Statistics on your performance are recorded and visible by user, by question, or by test.
    </p>

    <h2>Contact</h2>

    <address>
        Maurice de Vries<br />
        Hamilton, ON<br />
        <abbr title="Email">E:</abbr>
        maurice.de-vries@mohawkcollege.ca
    </address>
}
